.appBar {
  width: 100vw;
  height: 10vh;
  background-color: aliceblue;
}

.appBarContainer {
  display: flex;
  width: calc(var(--defaultWidth) - 8%);
  height: 100%;
  margin: 0 auto;
}

.appBarContainerBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

.appBarEmissionValue {
  font-size: large;
  font-weight: 500;
}

.appBarConsumedFont {
  color: red;
}

.appBarProductionFont {
  color: green;
}

.appBarRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.appBarFlagContainer {
  display: flex;
  justify-content: center;
}

.appBarContainerText {
  display: flex;
  align-items: flex-end;
  font-size: small;
}

.appBarRefreshIcon {
  width: 15px;
  aspect-ratio: 1.0;
}

.appBarLocaleIcon {
  width: 30px;
  aspect-ratio: 1.5;
}

.appBarLocaleSelected {
  border: 3px solid red;
}
