.footer {
  background-color: var(--defaultDarkBgColor);
  margin-top: 15px;
  padding-bottom: 20px;
}

.footerContent {
  width: var(--defaultWidth);
  margin: 0 auto;
  padding-top: 15px;
  color: white;
}

.footerContent p {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 10px;
}
