:root {
  --defaultWidth: calc(min(max(65vw, 500px), 1000px));
}

.graphContainer {
  display: flex;
  flex-direction: row;
  width: var(--defaultWidth);
  height: calc(var(--defaultWidth) * 0.5);
  margin: 0 auto;
}

.graphDateContainer {
  display: flex;
  width: var(--defaultWidth);
  margin: 0 auto;
  justify-content: space-around;
}

.graphLabelLegend {
  align-self: center;
  writing-mode: sideways-lr;
  margin-right: 15px;
  margin-left: -25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: gray;
}
