.graphContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: var(--defaultWidth);
  height: calc(var(--defaultWidth) * 0.5);
  margin: 0 auto;
}

.graphDateContainer {
  display: flex;
  flex-direction: column;
  width: var(--defaultWidth);
  margin: 0 auto;
}

.graphDatePickerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.graphDatePicker {
  margin: 0 5px;
}

.graphFixedDateContainer {
  display: flex;
  width: var(--defaultWidth);
  margin: 0 auto;
  justify-content: center;
}

.graphLoadingModal {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.errorText {
  width: var(--defaultWidth);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  color: red;
}
