:root {
  --defaultWidth: calc(min(max(65vw, 500px), 1000px));
  --defaultDarkBgColor: #4d5256a1;
}

.html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
